  /********************************

            snake header

  ********************************/


  .header{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: Open Sans;
  }
  
  .header-left{
    padding: 10px 15px;
  }
  .header-left span#time{
    display: inline;
    font-size: 2.5em;
    font-weight: 900;
  }
  .header-left span{
    margin-left: 5px;
    font-size: 1.4em;
  }
  
  .header-right .right-text{
    line-height: 1px;
    padding: 10px 5px;
    margin-right: 5px;
    text-align: right;
    float: left;
  }
  .right-text h1{
    font-size: 1.9em;
    font-weight: 900;
  }
  .right-text span{
    font-size: 1.3em;
    font-weight: 500;
  }
  .captcha{
    float: right;
    width: 200px;
    height: 80px;
    overflow: hidden;
    background: blue;
  }
  
  @media (max-width: 715px){
    .header-left{
      line-height: 21px;
      padding: 10px 15px;
    }
    .header-left span#time{
        font-size: 2em;
    }
    .header-left span{
      display: block;
      width: 100%;  
      font-size: 1.2em;
    }
    .right-text h1{
        font-size: 1.6em;
    }
    .right-text span{
        font-size: 1.3em;
    }
    .header-right .right-text{
      padding: 15px 5px;
    }
  
  }

  

  






  /********************************

              canvas

  ********************************/


  /* canvas{
    background: #ccc!important;
  }
 */

 .canvas-envolver{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: red;
}
canvas{
  width: 100%;
  height: 100%;
}




